.descrip_web{
   padding: 45px 0;
   text-align: center;  
}

.hr_first {
    width: 9px;
    border-top: 1px solid #d33741;
    border-bottom: 3px solid #d33741;
    display: inline-block;
    transition: all ease 500ms;
    margin-right: 7px;
    border-radius: 20px;
    margin-bottom: 0!important;
}
.hr_second {
    width: 206px;
    border-top: 1px solid #d33741;
    border-bottom: 3px solid #d33741;
    display: inline-block;
    transition: all ease 500ms;
    border-radius: 20px;
    margin-bottom: 0!important;
}

.box_modifcate{
    display: flex !important;
}
.cont_descrip_web{
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.cont_descrip_web p{
    margin: 0;
    color: #444444;
    font-size: 16px;
    padding-top: 17px;
}
.cont_descrip_web span{
    font-weight: 600;
}


.cotiza_formal{
    background: #f3f3f3;
    padding: 40px 0;
}
.titulo_opcion{
    text-align: center;
}

.opinion_cordial{
    text-align: center;
    margin-top: 10px;
}
.opinion_cordial p{
    margin: 0;
    color: #444444;
    font-size: 21px;
}
.seleccion_formulario{
    text-align: right;
    padding: 0px 130px;
    margin-bottom: 25px;
}
.seleccion_formulario button{
    transition: all 0.3s ease;
    text-transform: capitalize;
    font-family: 'Baloo 2';
    font-weight: 400;
    padding: 8px 30px;
    background-color: #ffffff;
    border-radius: 25px;
    font-size: 16px;
    color: #4e54c8;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
}
.seleccion_formulario button:hover{
    border-style: none;
    transition: all 0.3s ease;
    background-color: #4e54c8;
    color: #ffffff;
}
.descrip_paginas{
    background: whitesmoke;
    padding: 40px 0;
}
.publicidad_logotipo{
    padding: 40px 0;
}
.cont_descrip_paginas h1{
    padding: 50px 150px;
    color: #4e54c8;
    font-size: 20px;
    font-weight: bold;
}
.cont_descrip_paginas p{    
    color: red;    
}
.boton_siguiente {
    text-align: right;
    margin-top: 1%;
}
.boton_siguiente a {
    transition: all 0.3s ease;
    text-transform: capitalize;
    font-family: 'Baloo 2';
    font-weight: 300;
    padding: 0px 45px;
    background-color: #ffffff;
    border: 2px solid #DC143C !important; 
    border-radius: 25px;
    font-size: 16px;
    color: #4e54c8;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
}
.boton_siguiente a:hover {
    border-style: none;
    transition: all 0.3s ease;
    text-transform: capitalize;
    font-family: 'Baloo 2';
    font-weight: 400;
    padding: 0px 45px;
    background-color: #F08080;
    border: 2px solid transparent !important;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
    -moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
}

.servi{
    background: white;
     -webkit-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.5);
    -moz-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.5);
    box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.5);
    transition: all 0.5s ease;
}
.servi a{
    text-decoration: none;
}
.servi:hover span {
    color: #695aa6;
    transition: all 0.5s ease;
}
.etiqueta {
    position: relative;
    top: -8px;
    z-index: 1;
    left: -8px;
}

.img_serv {
    text-align: center;
    transition: ease 500ms;
    padding-top: 0px;
    position: relative;
    top: -78px;
}

.descrip_serv {
    text-align: center;
    color: white;
    padding-top: -19px;
    position: relative;
    top: -57px;
}
.descrip_serv p {
    margin: 0;
    font-size: 17px;
    color: #444444;
}
.serv:hover span {
    color: #695aa6;
    transition: all 0.5s ease;
}
.descrip_serv span {
    font-size: 22px;
    color: black;
    font-weight: 600;
    transition: all 0.5s ease;
}
.descrip_serv p {
    margin: 0;
    font-size: 17px;
    color: #444444;
}
.descrip_servicesv1 {
    padding: 10px 28px;
    text-align: justify;
    font-size: 15px!important;
}
.descrip_servicesv1 {
    padding: 10px 28px;
    text-align: justify;
    font-size: 15px!important;
}

.expertos{
    background: whitesmoke;    
}

.cont_expertos h1{
    padding: 50px 150px;
    color: #4e54c8;
    font-size: 35px;
    font-weight: bold;
}

.cont_expertos h2{
    padding: 50px 150px;
    color: #4e54c8;
    font-size: 35px;
    font-weight: bold;
}

.cont_expertos p{    
    color: red;    
}

.img_serv .omnitrix{
    position: absolute!important;
    opacity: 0!important;
    top: 1px;
    right: 77px;
    transition: ease 500ms;
}
.servi:hover .omnitrix{
    opacity: 1!important;
    transition: ease 500ms;
}

/*PUBLICIDAD*/

.descrip{

    text-align: center;

    margin-bottom: 4px;

}

.descrip p{

    margin: 0;

    color: #444444;

    font-size: 21px;

}

.hr_first {

    width: 9px;

    border-top: 1px solid #d33741;

    border-bottom: 3px solid #d33741;

    display: inline-block;

    transition: all ease 500ms;

    margin-right: 7px;

    border-radius: 20px;

    margin-bottom: 0!important;

}

.hr_second {

    width: 206px;

    border-top: 1px solid #d33741;

    border-bottom: 3px solid #d33741;

    display: inline-block;

    transition: all ease 500ms;

    border-radius: 20px;

    margin-bottom: 0!important;

}

.contenido_logotipo{

    position: relative;

    margin-top: 34px;

    margin-bottom: 18px;

}

.item_logotipo{

    margin: 0 auto;

    width: 100%;

    max-width: 700px;

    height: 100%;

}

.item_logotipo video{

    border: 20px solid #f3f3f3;

    border-radius: 5px;

    background: #f3f3f3;

    display: block;

    box-shadow: 1px 1px 7px 0px #00000030;

}

/**/

/*PLANES*/
.nosotros {
        margin-top: 30px;
        background: whitesmoke;
        padding: 64px 0;
}
.control_webs{
    text-align: center;
}
.control_webs .head{
    list-style: none;
    display: inline-flex;
}
.control_webs .head li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    padding: 7px;
    margin: 0px 15px;
    background: #d33741;
    color: white;
    transition: ease 500ms;
}
.control_webs .head li a:hover{
   background: white;
   color: #d33741;
   border: 2px solid #d33741;
   transition: ease 500ms;
   cursor: pointer;
}
.mixitup-control-active{
    background: white!important;
   color: #d33741!important;
   border: 2px solid #d33741!important;
   transition: ease 500ms;
   cursor: pointer;
}
.contenido_audiovisual{
    text-align: center;
    background: whitesmoke;
}

/**/

/*PROCESO LOGOTIPO*/

.descrip_lotipo{
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.descrip_lotipo p{
    margin: 0;
    color: #444444;
    font-size: 16px;
    padding-top: 17px;
}
.descrip_lotipo span{
    font-weight: 600;
}
.titulo_audiovisual{
    text-align: center;
}
.titulo_audiovisual h2 {
    font-size: 36px;
    color: #4e54c8;
    font-family: 'Baloo 2';
    font-weight: 400;
}
.box_cabeza {
    text-align: center;
    height: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.box_item .box_body{
    text-align: justify;
    background: white;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(105, 90, 166, 0.37);
    -moz-box-shadow: 1px 1px 12px 0px rgba(105, 90, 166, 0.37);
    box-shadow: 1px 1px 12px 0px rgba(105, 90, 166, 0.37);
    transition: all 0.5s ease;
    padding: 18px;
    height: 197px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
}
.box_item .box_body p{
    margin: 0;
}
@media screen and (min-width: 1281px){
    .content_mixitup .item, .gap {
    /*width: calc(100%/3.2);*/
    width: calc(100%/1)!important;
    margin: 0 !important;
    margin-bottom:0 !important;
}
}

/*PROCESOS AUDIOVISUAL*/

.procesos{
   padding: 30px 0;
}
.procesos .box_proceso {
    position: relative;
    padding-left: 70px;
    margin-top: 28px;
}
.procesos .box_proceso span {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Days One', sans-serif;
    font-size: 80px;
    color: #4e54c8;
    line-height: 1;
}
.procesos .box_proceso h4 {
    font-weight: 800;
    font-size: 16px;
}
.procesos .box_proceso p {
    font-size: 15px;
    text-align: justify;
}
.aea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aea .descriptivo{
    margin-left: 30px;
    padding: 40px 0;
}
.aea .descriptivo h4{
   font-size: 17px;
   font-family: 'Cabin Condensed', sans-serif;
}
.aea .numero{
    box-shadow: 2px 2px 3px 1px #0000003d;
    padding: 29px;
    border-radius: 20px;
}
.aea .numero span{
    font-family: 'Days One', sans-serif;
    font-size: 80px;
    color: #4e54c8;
}

/**/
/*SESION DE FOTOGRAFICAS*/
.seccion_fotograficas{
     padding: 30px 0;
     background: whitesmoke;
}
.fotografia_carrusel{
  margin: 60px;
  border: 5px solid #4e54c8;
}
.fotogras{
    padding: 20px;
}
.seccion_fotograficas .owl-theme .owl-nav .owl-next {
    position: absolute;
    bottom: -13%;
    left: 53%;
    background: white;
    color: black;
    transform: translateY(-50%);
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    height: 45px;
    width: 50px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
    -moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
     transition: all 0.4s ease;
}
.seccion_fotograficas .owl-theme .owl-nav .owl-prev {
    position: absolute;
    bottom: -13%;
    left: 37%;
    background: white;
    color: black;
    transform: translateY(-50%);
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
    height: 45px;
    width: 50px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
    -moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
     transition: all 0.4s ease;
}
.seccion_fotograficas .owl-theme .owl-nav .owl-next i{
 padding-top: 13px;
}
.seccion_fotograficas .owl-theme .owl-nav .owl-prev:hover {
    color: #695aa6;
    transition: all 0.4s ease;
}
.seccion_fotograficas .owl-theme .owl-nav .owl-prev i{
 padding-top: 13px;
}
.seccion_fotograficas .owl-theme .owl-nav .owl-next:hover {
    color: #695aa6;
    transition: all 0.4s ease;
}
/**/

/*Sesion*/
.sesion{
padding: 30px 0;
}
/**/

/*FOTOGRAFIAS*/
.menu_fotografias{
    text-align: center;
}
.list_services a:hover {
    color: #696eb9;
    font-weight: 800;
    transition: all ease 500ms;
}

.list_services {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list_services li {
    padding: 0;
    margin: 0;
    color: #222222;
    font-size: 16px;
    line-height: 80px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer!important;
    display: inline-block;
}
.list_services a {
    text-decoration: none;
    color: #222222;
    transition: all ease 500ms;
}
.list_services span {
    color: #222222;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px;
}
.menu_fotografias{
    text-align: center;
}
.list_services a:hover {
    color: #696eb9;
    font-weight: 800;
    transition: all ease 500ms;
}
.porta_item{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.porta_item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000354;
    margin-bottom: 20px;
    opacity: 0;
    z-index: 1;
    transition: all ease 500ms;
}
.audiovisuales .item:hover .porta_item:before{
    opacity: 0.7;
    transition: all ease 500ms;
}
.audiovisuales .item .caption_portafolio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -moz-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
    transform: scale(0);
    z-index: 2;
    transition: all ease 500ms;
}
 .audiovisuales .item .caption_portafolio .btn-visitar {
    width: 151px;;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    border-radius: 50px;
    padding: 8px 0 8px 15px;
    position: relative;
    text-align: center;
    color: #ffdd00;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    font-weight: 900;
}
.audiovisuales .item .caption_portafolio .btn-visitar:before {
    position: absolute;
    left: 45px;
    content: attr(data-hover);
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.audiovisuales .item .caption_portafolio .btn-visitar .icons {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    padding: 9px 10px;
    border-radius: 50%;
    text-align: center;
    color: #ffdd00;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.audiovisuales .item .caption_portafolio .btn-visitar:hover, .audiovisuales .item .caption_portafolio .btn-visitar:active, .audiovisuales .item .caption_portafolio .btn-visitar:focus {
    color: #ffffff;
    border-color: #ffffff;
    font-weight: 900;
    transition: all ease 500ms;
}
 .audiovisuales .item .caption_portafolio .btn-visitar:hover .icons {
    left: 114px;
    background-color: #ffffff;
}
.audiovisuales .item  .caption_portafolio .btn-visitar:hover .text {
    opacity: 0;
}
.audiovisuales .item .caption_portafolio .btn-visitar:hover:before {
    opacity: 1;
}
.audiovisuales .item .caption_portafolio .btn-visitar:before {
    position: absolute;
    left: 23px;
    content: attr(data-hover);
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.audiovisuales .item:hover .caption_portafolio{
    transform: scale(1);
    transition: all ease 500ms;
}
.audiovisuales .owl-item{
    margin-right: 0px!important;
        width: 228px!important;
}
/**/
/**/
.content_mixitup .item, .gap {
    width: calc(100%/1 - (((1 - 1) * 1rem) / 1));
    margin-bottom: 10px;
}
@media screen and (min-width: 767px){
        .content_mixitup .item, .gap {
        width: calc(100%/1)!important;
        margin: 0 10px;
        margin-bottom: 20px;
        }
}


@media(max-width: 1199px){
    .img_serv .omnitrix {
        right: 55px;
    }
    .control_webs .head li a{
        font-size: 12px;
    }
}
@media screen and (min-width: 991px){
    .content_mixitup .item, .gap {
    width: calc(100%/1)!important; 
    margin: 0 10px;
    margin-bottom: 20px;
}
}
@media (max-width:991px){
    .box_item{
            margin-bottom: 20px;
    }
    .img_serv .omnitrix {
    right: 295px;
    }
    .control_webs .head {
    list-style: none;
    display: inline;
    }
    .control_webs .head li a {
    font-size: 17px;
    }
    .control_webs .head li{
     margin-bottom: 17px;
     }
}
@media (max-width: 911px){
      .descrip_web h1 {
       font-size: 24px;
    }
    .cont_descrip_logotipo p {
    font-size: 14px;
    }
}
@media(max-width: 991px){
   .servi {
      margin-bottom: 34px;
   }
   .titulo h2{
        font-size: 24px;
    }
}
@media(max-width: 767px){
   .img_serv .omnitrix {
    right: 205px;
   }
}
@media(max-width:400px ){
   .img_serv .omnitrix {
    right: 135px;
   }
   .seccion_fotograficas .owl-theme .owl-nav .owl-next {
    bottom: -24%;
    left: 51%;
   }
   .seccion_fotograficas .owl-theme .owl-nav .owl-prev {
    bottom: -24%;
    left: 22%;
   }
}
@media(max-width: 383px){
   .control_webs .head li a {
    font-size: 13px;
    }
}